<!DOCTYPE html>
<html>
<head>
  <title>RandomIceBreakers</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
        <header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "Refresh Ice Breakers", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">	
          <ul class="nav navbar-nav navbar-right">	
            <li><%= link_to 'Free Trial' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
